<div class="footer-layout" ng-controller="NavController">
  <div class="row">
    <div class="col-md-4 col-md-offset-8">
    <ul class="nav nav-tabs">
      <li>
        <a ui-sref="jobs" ui-sref-active="active">Jobs</a>
      </li>
      <li>
        <a ui-sref="team" ui-sref-active="active">Team</a>
      </li>
      <li>
        <a ui-sref="contact" ui-sref-active="active">Contact</a>
      </li>
      <li>
        <a ui-sref="terms" ui-sref-active="active">Terms</a>
      </li>
    </ul>
    </div>
  </div>
</div>