<!DOCTYPE html>
<html lang="en" ng-app="webApp">
<head>
  <title ng-bind="pageTitle"></title>
  <meta charset="UTF-8">
  <base href="/">
  <!-- build:css /assets/css/app.css -->
  <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="../bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="../bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet">
  <link href="../bower_components/ng-table/ng-table.css" rel="stylesheet">
  <link href="../bower_components/AngularJS-Toaster/toaster.css" rel="stylesheet">
  <link href="../bower_components/angular-loading-bar/build/loading-bar.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../webapp/styles/app.css">
  <!-- endbuild -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
  <body>
    <ng-include src="'/templates/app/navigation.html'"></ng-include>
    <div ui-view="appView"></div>

    <!-- build:js /assets/js/vendorApp.js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../bower_components/angular-ui-bootstrap-bower/ui-bootstrap.js"></script>
    <script src="../bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/ng-table/ng-table.js"></script>
    <script src="../bower_components/lodash/dist/lodash.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/AngularJS-Toaster/toaster.js"></script>
    <script src="../bower_components/angular-cache/dist/angular-cache.js"></script>
    <script src="../bower_components/angular-data/dist/angular-data.js"></script>
    <script src="../bower_components/allmighty-autocomplete/script/autocomplete.js"></script>
    <script src="../bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <!-- endbuild -->

    <script src="/assets/js/app.js"></script>
  </body>
</html>