<div class="navigation-layout" ng-controller="NavController">
  <div class="row">
    <div class="col-md-2">
      <h2 ui-sref="/">The Bosco</h2>
    </div>
    <div class="col-md-6 col-md-offset-4">
      <ul class="nav nav-tabs">
        <li>
          <a ui-sref="what-is-the-bosco" ui-sref-active="active">What is the Bosco?</a>
        </li>
        <li>
          <a ui-sref="photos" ui-sref-active="active">See Your Photos</a>
        </li>
        <li>
          <a ui-sref="get-the-bosco" ui-sref-active="active">Get the Bosco</a>
        </li>
      </ul>
    </div>
  </div>
</div>